<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Usuń/Edytuj Kategorie produktu</title>
</head>

<body>
<section layout:fragment="content">
    <div class="container">
        <h4>   <strong th:text="${header}"/>  </h4>

    </div>


    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr  class="active">
                    <th>ID kategorii</th>
                    <th>Nazwa Kategorii</th>
                    <th>Opcje</th>
                </tr>

                </thead>
                <tbody>
                <tr th:each ="kategoria : ${ListaKategorii}">
                    <td> <b  th:utext="${kategoria.idKategorii}">...</b> </td>
                    <td> <b  th:utext="${kategoria.nazwaKategorii}">...</b> </td>
                    <td>
                        <a th:href="@{/usun_Kategorie(ID_kategorii=${kategoria.idKategorii})}" class="btn btn-danger">Delete</a>
                        <a th:href="@{/edytuj_Kategorie(ID_kategorii=${kategoria.idKategorii})}" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="container">
            <a href="/home" class="btn btn-secondary" role="button">Strona główna</a>
        </div>


    </div>
</section>

</body>
</html>